@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 35% 15%;
    --foreground: 213 21% 28%;

    --darkBlue:210 34% 13%;
    --brand:14 100% 64%;
    --whitish:0 0% 97%;
    --avatarbg:212 25% 20%;
    --removeRed:355 45% 34%;
    --removeRedHover:360 78% 58% ;

    --card: 209 35% 15%;
    --card-foreground: 213 21% 28%;

    --popover: 209 35% 15%;
    --popover-foreground: 213 21% 28%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 75% 53%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 21% 28%;
    --input: 213 21% 28%;
    --ring: 213 21% 28%;

    --radius: 0.5rem;
  }

  
}

@layer base {
  :root {
    @apply antialiased;
    @apply font-normal;
  }
  html {
    font-family:
    'Geist Sans',
		'-apple-system',
		'system-ui',
		'BlinkMacSystemFont',
		'Segoe UI',
		'Roboto',
		'Helvetica Neue',
		'Arial',
		'sans-serif',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
    @apply scroll-smooth;
  }
  * {
    @apply border-border box-border relative min-w-0 m-0 p-0;
  }
  body {
    @apply bg-background text-foreground min-h-dvh bg-pattern leading-normal ;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }
  p {
    @apply text-pretty;
  }
  a {
    @apply no-underline;
  }
  w3m-modal{
    @apply bg-black/50  backdrop-blur-sm absolute inset-0;
  }
  
}
